# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# IDE & Editor
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter & Dart Build Output
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/coverage/

# Android Build Artifacts
**/android/app/debug
**/android/app/profile
**/android/app/release
**/.gradle/

# Web & Node (jika ada)
**/node_modules/

# --- ATURAN KEAMANAN / CREDENTIALS (PENTING) ---
# Firebase Configs
**/google-services.json
**/GoogleService-Info.plist

# API Keys & Environment Variables
**/.env
**/*.env